/* Common components */
.form {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 48px; }

.page {
  width: 100%;
  height: 100%; }

/* Landing */
.home-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.home-header {
  display: flex;
  flex-direction: column;
  align-items: center; }

.button-root {
  width: 180px;
  height: 50px; }

.appbar-minimized {
  top: 200px; }

/* Login */
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5); }
  .login-page.winter {
    background-image: url("/img/login-background/winter-background.jpg"); }
  .login-page.spring {
    background-image: url("/img/login-background/spring-background.jpg"); }
  .login-page.autumn {
    background-image: url("/img/login-background/autumn-background.jpg"); }
  .login-page.summer {
    background-image: url("/img/login-background/summer-background.jpg"); }

.login-paper {
  background-color: rgba(0, 0, 0, 0); }

/* AppBar */
html,
#root,
body {
  height: 100%; }

.App {
  height: 100%; }

.App-wrapper {
  height: 100%;
  padding-top: 56px; }
  .App-wrapper.appbar-disabled {
    padding-top: 0; }

@media (orientation: landscape) {
  .App-wrapper {
    padding-top: 64px; } }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
